/*@font-face{
	fontFamily: Arvo;
	src:url(/fonts/arvo/Arvo-Regular.ttf) format("truetype");
}
@font-face{
	src:url(/fonts/arvo/Arvo-Bold);
	fontFamily: Arvo;
	fontWeight: bold;
}
@font-face{
	src:url(/fonts/arvo/Arvo-Italic);
	fontFamily: Arvo;
	fontStyle: italic;
}
*/
html{
	
}
html, body{
	margin: 0px;
	padding: 0px;
	border: 0px;
	height:100%;
}
body{
	/*ne pas remplir ici CKEDITOR a son propre body
	utiliser à la place #body_principal */
}
#body_principal{
	overflow-x: hidden;
	height:100%;
	font-family:sans-serif;
	font-size:1.35rem;
    	line-height:1.5;
}
.nojs{
	background-color: #F3F3F3;
}


#wrapper{
	position:relative;
	width: 1268px;
	height: 1500px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#header_cadre{
	position: absolute;
	height:86px;
	left:4px;
	top:693px;
	width:179px;
}
#header{
	width: 100%;
	height: 100%;
	background-color: rgba( 255, 255, 255, 0.3);
	overflow: hidden;
	border: 1px solid #888;
}
#page_cadre{
	height:743px;
	left:338px;
	overflow:visible;
	position:absolute;
	top:150px;
	width:910px;
}
#page{
	width: 100%;
	height: 100%;
	background-color: rgba( 255, 255, 255, 0.45);
	overflow: visible;
	/*border: 1px solid #888;
	*/
}
#footer_cadre{
	position: absolute;
	height:226px;
	left:4px;
	top:463px;
	width:135px;
}
#footer{
	width: 100%;
	height: 100%;
	background-color: rgba( 255, 255, 255, 0.3);
	overflow: hidden;
	border: 1px solid #888;
}


#page table td, th{
	background-color: rgba( 255, 255, 255, 0.7)
}
#page table.table_translucide td, th{
	background-color: rgba( 255, 255, 255, 0.7)
}

big img{
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 5px 5px 5px black;
	-webkit-box-shadow: 5px 5px 5px black;
	box-shadow: 5px 5px 5px black;
}

shadows img{
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 5px 5px 5px black;
	-webkit-box-shadow: 5px 5px 5px black;
	box-shadow: 5px 5px 5px black;
}
h1{
	font-size: 16px;
}
h2{
	font-size: 14px;
}

a {
	text-decoration: none;
	color: inherit;
}
p{
	font-size: 13px;
}

#menu_cadre{
	position: absolute;
	top: 10px;
	left: 537px;
	overflow: none;
	width: 700px;
	height: 40px;
}
#menu{
	position: relative;
	height: 100%;
}
ul#menu_liste{
	position: absolute;
	height:100%;
	list-style:none;
	overflow: visible;
	margin: 0;
	padding: 0;
	background-color:transparent;
}
ul#menu_liste li{
	margin:3px 5px;
	display:inline-block;
	line-height:0;
}
ul#menu_liste li a{
	margin: 0px 20px;
	padding: 6px 23px 7px 22px;
	position: relative;
	color:#333;
	background-color: rgba( 0, 0, 0, 0.05);
	text-decoration:none;
	font-size:17px;
	outline:none;
	border: 1px solid #888;
}
.categorie ul{
	padding: 0;
	list-style: none;
	width:450px;
	margin-top: 8px;
	position: absolute;
}
.nojs .categorie ul li{
	display: block!important;
	margin: 0;
	padding: 0;
	list-style: none;
}
.categorie ul li{
	/*display: block!important;
	*/ margin: 0;
	padding: 0;
	list-style: none;
}

.categorie ul li a{
	background-color: transparent!important;
	font-size: 15px;
	font-weight: normal;
	padding:3px 23px 5px 20px;
	border: none!important;
	display:table!important;
	overflow:visible;
}
ul#menu_liste li a:hover{
	color:#FFF;
}
#sommaire_collection_ul {
	height: 100%;
}

#sommaire_collection_ul li{
	display: block;
}

.sommaire_collection ul li a{
	border-bottom:medium none;
	    font-size:1.1rem;
	    margin:0;
	    padding:10px 20px;
	    text-align:left;
}

  
.sommaire_collection{
	list-style: none;
    	width:212px;

}

#login_wrapper{
	position: relative;
	top: 100%;
}

#upload_wrapper{
	position: relative;
	top: 100%;
}

.bouton_wikid{
	width: 50%;
	position: relative;
}

