@font-face{
	fontFamily: toony_loons;
	src:url('/fonts/toony_loons.otf') format("opentype");
}
@font-face{
	src:url('/fonts/toony_loons_BLD_ITL.otf') format("opentype");
	fontFamily: toony_loons;
	fontWeight: bold;
	fontStyle: italic;
}
@font-face{
	src:url('/fonts/toony_loons_ITL.otf') format("opentype");
	fontFamily: toony_loons;
	fontStyle: italic;
}



.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.clearfix {display: inline-block;}  /* for IE/Mac */



.clearfix {
zoom: 1;     /* triggers hasLayout */
display: block;     /* resets display for IE/Win */
}  /* Only IE can see inside the conditional comment
and read this CSS rule. Don't ever use a normal HTML
comment inside the CC or it will close prematurely. */




html{
	
}
html, body{
	margin: 0px;
	padding: 0px;
	border: 0px;
	height:100%;
}
body{
	/*ne pas remplir ici CKEDITOR a son propre body
	utiliser à la place #body_principal */
}
#body_principal{
	overflow-x: hidden;
	height:100%;
	font-family:Arial;
	font-size:1.35rem;
    	line-height:1.5;
    	background-color: white;

}

.gradient {
       filter: none;
    }
    
.nojs{
	background-color: #F3F3F3;
}

#login_button {
	font-size: 1rem;
	background-color: rgba( 255, 255, 255, 0.3)!important;
}

#social_wrapper {
	position:relative;
	width: 100%;
	text-align: right;

}

.social_nets {
	text-align: right;
}

.layout_vertical {
	position:relative;
	width: 1200px;
/*	height: 1500px;*/
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#header_cadre{
	position: relative;
	width:48%;
	float:left;
	margin-left: 10px;
	
}
#header{
	width: 100%;
	height: 100%;
	background-color: rgba( 255, 255, 255, 0.3);
	overflow: hidden;
	
}
#page_cadre{
	overflow:visible;
	position:relative;
	width:100%;
	clear: both;
	top: 7px;
	margin-bottom: 7px;margin-left: auto;
    margin-right: auto;
	
}
#page{
	width: 100%;
	height: 100%;
	
	overflow: visible;
	
}

#page div.contenu_ckeditable {
/*	border: 1px solid #888;*/
/*	background-color: rgba( 255, 255, 255, 0.45);*/

}

#page div.objet {
	
}

.contenu_wikid table iframe {
	width:100%;
	height:auto;
}
.embededContent {
width:100%;
	height:100%;
}
.objet {
	float:right;
	width: 81%;
	margin-right: 12px;
}

.objet_titre {
	font-size:2rem;
	border-bottom:none;
	background-color: rgba( 255, 255, 255, 0.45);
	margin: 0;
    	padding: 12px;
    	text-align:right;
}
.objet_contenu {
	border: 1px solid #888;
	background-color: rgba( 255, 255, 255, 0.45);
	margin: 0;
    	padding: 0;
}

#footer_cadre{
	position: relative;
	width:50%;
	float:right;
	margin-right:10px;
}
#footer{
	width: 100%;
	height: 100%;
	background-color: rgba( 255, 255, 255, 0.3);
	overflow: hidden;
}


table {border: 1px solid #888;

	    	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmZmNCIgc3RvcC1vcGFjaXR5PSIwLjQ3Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjE5JSIgc3RvcC1jb2xvcj0iI2VlZjNlNyIgc3RvcC1vcGFjaXR5PSIwLjQ3Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiM2JlYWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  rgba(252,255,244,0.47) 0%, rgba(238,243,231,0.47) 19%, rgba(179,190,173,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(252,255,244,0.47)), color-stop(19%,rgba(238,243,231,0.47)), color-stop(100%,rgba(179,190,173,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(252,255,244,0.47) 0%,rgba(238,243,231,0.47) 19%,rgba(179,190,173,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(252,255,244,0.47) 0%,rgba(238,243,231,0.47) 19%,rgba(179,190,173,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(252,255,244,0.47) 0%,rgba(238,243,231,0.47) 19%,rgba(179,190,173,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(252,255,244,0.47) 0%,rgba(238,243,231,0.47) 19%,rgba(179,190,173,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78fcfff4', endColorstr='#b3bead',GradientType=1 ); /* IE6-8 */
}
#page table.table_translucide td, th{
	background-color: rgba( 255, 255, 255, 0.7)
}

big img{
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 5px 5px 5px black;
	-webkit-box-shadow: 5px 5px 5px black;
	box-shadow: 5px 5px 5px black;
}

shadows img{
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 5px 5px 5px black;
	-webkit-box-shadow: 5px 5px 5px black;
	box-shadow: 5px 5px 5px black;
}
h1{
	font-size: 16px;
}
h2{
	font-size: 14px;
}

a {
	text-decoration: none;
	color: inherit;
}
p{
	font-size: 28px;
	letter-spacing:2px;
}

.debut_chapitre:first-line {
font-variant: small-caps;
font-size: 110%;
}
.debut_chapitre:first-letter
{
font-size:200%;
float: left;
font-weight: bold;
margin: 5px 5px 5px 0; 
}

#menu_cadre{
	position: relative;
	/*left: 537px;*/
	overflow: none;
	width: 100%;
	clear:both;

}
#menu{
	position: relative;
	font-size: 1em;
/*	border: 1px solid #888;*/
    	 height: 80px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

#menu li.page_courante > a {
	font-style:oblique;
}




#menu_liste {
    color: black;
    list-style-type: none;
    text-align: justify;
    position: absolute;
    width: 100%;
    margin-left:500px;
    font-size: 15px;
    
}

#menu_liste li {
    float: left;
    display: inline-block;
    
    padding: 10px 20px;
}
#menu_liste li a {
	text-align: left;
    display:inline-block;
}

#menu_liste li ul{
font-size: 12px;
    display:none;
    list-style:none;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.2);
    font-family:Arial;
    padding:8px 0;
    padding-top:35px;
    position:absolute;
    top:30px;
    z-index:998;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmZmNCIgc3RvcC1vcGFjaXR5PSIwLjA2Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjE5JSIgc3RvcC1jb2xvcj0iI2RmZTVkNyIgc3RvcC1vcGFjaXR5PSIwLjA2Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjI0JSIgc3RvcC1jb2xvcj0iI2RjZTNkNCIgc3RvcC1vcGFjaXR5PSIwLjA2Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiM2JlYWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(252,255,244,0.06) 0%, rgba(223,229,215,0.06) 19%, rgba(220,227,212,0.06) 24%, rgba(179,190,173,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,0.06)), color-stop(19%,rgba(223,229,215,0.06)), color-stop(24%,rgba(220,227,212,0.06)), color-stop(100%,rgba(179,190,173,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(252,255,244,0.06) 0%,rgba(223,229,215,0.06) 19%,rgba(220,227,212,0.06) 24%,rgba(179,190,173,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(252,255,244,0.06) 0%,rgba(223,229,215,0.06) 19%,rgba(220,227,212,0.06) 24%,rgba(179,190,173,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(252,255,244,0.06) 0%,rgba(223,229,215,0.06) 19%,rgba(220,227,212,0.06) 24%,rgba(179,190,173,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(252,255,244,0.06) 0%,rgba(223,229,215,0.06) 19%,rgba(220,227,212,0.06) 24%,rgba(179,190,173,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ffcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-8 */


}


#menu_liste li:hover > ul {
 	display:block; 
}

#menu_liste li ul li {
	border:medium none;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:none;
    	float:none;
    	padding:10px 15px;
    	display: block;
}

#menu_liste li ul li a {
	display:block; 
}

.stretch {
    display: inline-block;
    width: 100%;
    position: relative;
    /* IE6/7 support */
    display: inline;
    zoom: 1;
}

#jstree_form {
	font-size:1.35rem;
    	line-height:1.5;
    	float:left;
}

#menu_tree_dialog input {
	font-weight: bold;
	font-style: italic;
}

#menu_liste li ul li:hover {
	background-color: rgba( 255, 255, 255, 0.50);
	font-weight: bold;
}

#menu_liste li ul li.page_courante {
	background-color: rgba( 255, 255, 255, 0.50);
}
.ui-effects-transfer { border: 1px solid black; }

.ui_transfer_effect_tooltip { border: 1px dashed black; }
.uitransfer_red { border: 3px solid red; }
/*
ul#menu_liste li a{
	margin: 0px 20px;
	padding: 6px 23px 7px 22px;
	position: relative;
	color:#333;
	background-color: rgba( 0, 0, 0, 0.05);
	text-decoration:none;
	font-size:17px;
	outline:none;
	border: 1px solid #888;
}
.categorie ul{
	padding: 0;
	list-style: none;
	width:450px;
	margin-top: 8px;
	position: absolute;
}
.nojs .categorie ul li{
	display: block!important;
	margin: 0;
	padding: 0;
	list-style: none;
}
.categorie ul li{
	margin: 0;
	padding: 0;
	list-style: none;
}

.categorie ul li a{
	background-color: transparent!important;
	font-size: 15px;
	font-weight: normal;
	padding:3px 23px 5px 20px;
	border: none!important;
	display:table!important;
	overflow:visible;
}
ul#menu_liste li a:hover{
	color:#FFF;
}
*/
 
#login_wrapper{
	position: relative;
	margin: 0;
}

#upload_wrapper{
	position: relative;
	margin: 0;
}

.bouton_wikid {
	width: 50%;
	position: relative;
}


#menu_tree {
	background-color:transparent;
	line-heigt:2.0;
	float:left;
}
#menu_tree ul {
	font-size:28;
	font-weight:bold;
}
#menu_tree ul li {
	margin:3px;
	padding:3px;
}
#menu_tree ul li ul li {
	padding: 2px;
	font-size:20;
	font-style:italic;
	font_weight:normal;
	text-color: #FFE;
}

.sommaire_collection {
	background-color: rgba( 255, 255, 255, 0.45);!important;
	background: transparent!important;
	
}
#sommaire_collection_ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 18%;
    background-color: rgba( 255, 255, 255, 0.6);
}

#sommaire_collection_ul li{
	display: block;
	
}
#sommaire_collection_ul li a {
	border-bottom:medium none;
	border:1px solid #EBEBEB;
	border-radius:1px 1px 1px 1px;
	padding:5px 10px;
	font-size:1.0rem;
	line-height:1.0;
	text-align:right;
}
#sommaire_collection_ul li a:hover {
	background: #F7F7F7;
}

#sommaire_collection_ul li a.open {
	background: #F7F7F7;
	font-weight:bold;
	background: #F7F7F7;

}

#sommaire_collection_ul.accordion > li > a {
	border-bottom:medium none;
    	font-size:12px;
    	margin:0;
    	padding:12px 8px;
    	text-align:left;
	border:1px solid #EBEBEB;
	border-radius:5px 5px 5px 5px;
}
#sommaire_collection_ul.accordion > li > a.open {
	text-align:right;
	font-weight:bold;
	color: black;
	background: #F7F7F7;
}

#sommaire_collection_ul.accordion > li > ul > li > a {
	border-top:medium none;
	font-size:1rem;
	line-height:1.2;
	margin-left:20px;
	padding:10px 20px;
	text-align:right;
	border:1px solid #EBEBEB;
	border-radius:5px 5px 5px 5px;
}
#sommaire_collection_ul.accordion > li > ul > li > a.open {
	background: #F7F7F7;
	font-weight:bold;
	color: black;
}

.jstree ul {
	
}

.jstree ul > li > ul li {
	margin-left:60px!important;
}

.jstree a {
	padding:10px 20px!important;
	
}

.image_overlay img {
	position: absolute;
}
